.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.date-form {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

p {
  color: red;
}

.spinner {
  align-self: center;
}

