<div class="container">
  <div class="form-input">
    <mat-form-field>
      <mat-label>NIP</mat-label>
      <input matInput [(ngModel)]="user.nip" name="nip" />
    </mat-form-field>
    <p>{{ errorMessage.nip }}</p>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="user.full_name" name="full_name" />
    </mat-form-field>
    <p>{{ errorMessage.full_name }}</p>
    <mat-form-field>
      <mat-label>Nick Name</mat-label>
      <input matInput [(ngModel)]="user.nick_name" name="nick_name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="user.address" name="address" />
    </mat-form-field>
    <p>{{ errorMessage.address }}</p>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="user.phone" name="phone" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" />
    </mat-form-field>
    <p>{{ errorMessage.email }}</p>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input matInput [(ngModel)]="user.mobile" name="mobile" />
    </mat-form-field>
    <div class="date-form">
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="user.birth_date"
        name="birth_date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <hr />
    <button
      *ngIf="!loading"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      {{ edit ? "Edit" : "Create" }}
    </button>
    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="20"></mat-spinner>
    </div>

    <hr />
    <button *ngIf="edit && !loading" mat-raised-button color="warn" (click)="onDelete()">
      Delete
    </button>
  </div>
</div>
