<div class="container">
  <div class="form-input">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="loginUserData.identity" name="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passowrd</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginUserData.password"
        name="password"
      />
    </mat-form-field>
    <button
      *ngIf="!loading"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      Login
    </button>
    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="20"></mat-spinner>
    </div>
    <hr />
    <p>{{ errorMessage }}</p>
  </div>
</div>
